{% extends 'base.html' %}
{% load static %}

{% block title %}Holiday Assignments - Githumu High School{% endblock %}

{% block content %}
<section id="news"><h3>Holiday Assignments</h3></section>


<div class="assignments-grid"> 
    {% for assignment in assignments %}
    <div class="assignment-card">
        <h2>{{ assignment.title }}</h2>
        <p>FORM: {{ assignment.grade }}</p>
        <p>Uploaded: {{ assignment.date_uploaded|date:"F d, Y" }}</p>
        <a href="{{ assignment.file.url }}" class="download-btn" download>Download</a>
    </div>
    {% endfor %} 
</div>
{% endblock %}